torch
torchaudio
torchvision
numpy
scipy
soundfile
librosa
joblib
sentencepiece

pyannote.audio==3.1.1
speechbrain
openai-whisper
transformers

noisereduce

fastapi
uvicorn[standard]
websockets
python-multipart

plotly

webrtcvad

mysql-connector-python